@model Category
@{
    ViewData["Title"] = "Create";
}

  <!-- Content Start -->
        <div class="content">
            <!-- Form Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Basic Form</h6>
                            <form method="post" enctype="multipart/form-data">
                                 <div class="mb-3">
                                    <label for="text" asp-for="@Model.Name" class="form-label">Name</label> 
                                    <input type="text" asp-for="@Model.Name" class="form-control" id="TitleId"/>
                                </div>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </form> 
                        </div>
                    </div>
                 
                </div>
            </div>
            <!-- Form End -->

        </div>
        <!-- Content End -->


